<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logokotak"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logobulat"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriSeeApp"
        tools:targetApi="31">
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.OnBoard3Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.OnBoard2Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.OnBoard1Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dicoding.nutriseeapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
    <meta-data
        android:name="NEWS_API_KEY"
        android:value="${NEWS_API_KEY}"/>
    <meta-data
        android:name="API_NUTRISEE_URL"
        android:value="${API_NUTRISEE_URL}"/>
</manifest>
